.container {
  padding: 20px;
}

.cpk {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 100%;
  }
}

.cpkData, .cpkTransactions {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dataLine {
  padding: 7px;
  overflow: hidden;
}

.dataTitle {
  font-weight: bold;
  margin-right: 7px;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align:top;
}

.dataValue {
  display: inline-block;
  word-wrap: break-word;
}

input[type="text"] {
  outline: none;
  border-radius: 5px;
  border: 1px solid #888;
  padding: 10px;
  margin-right: 10px;
  max-width: 100%;
}

button {
  padding: 10px 20px;
  outline: none;
  background: #008c73 !important;
  border: 1px solid #008c73;
  border-radius: 5px !important;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #008c73;
  opacity: 0.9;
}
